Repository Emplea-do/MobileApp-ReactNative: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": ["eslint --fix", "git add"],
  "*.{json,yml,md}": ["prettier --write", "git add"]
}

gradlew
  src/android/gradlew
Due: none

command to see working dir
  appcenter-pre-build.sh
Due: none

Moved appcenter pre build to src folder
  src/appcenter-pre-build.sh
Due: none

Updated react native version
  src/appcenter-pre-build.sh
  src/package-lock.json
  src/package.json
Due: prettier --write

rollback react native version
  src/package.json
Due: prettier --write

added post-clone script
  src/appcenter-post-clone.sh
  src/appcenter-pre-build.sh
  src/package-lock.json
Due: prettier --write

show current dir in post clone of appcenter
  src/appcenter-post-clone.sh
Due: none

changed echo for printf in post clone
  src/appcenter-post-clone.sh
Due: none

.
  src/appcenter-post-clone.sh
Due: none

Listing Screen (Hardcoded)
  src/components/Badge/index.js
  src/components/Badge/styles.js
  src/components/JobCard/index.js
  src/components/JobCard/styles.js
  src/navigation/index.js
  src/navigation/search.stack.js
  src/screens/Listing/index.js
  src/screens/Listing/styles.js
  src/screens/Search/index.js
  src/theme/colors.js
Due: eslint --fix

remove old search
  src/navigation/search.stack.js
  src/screens/Search.js
Due: eslint --fix

Listing Screen API Integration
  index.js
  src/components/JobCard/index.js
  src/components/Loading/index.js
  src/components/Loading/styles.js
  src/hooks/useJobsSearch.js
  src/screens/Listing/index.js
  src/screens/Listing/styles.js
  src/utils/api.js
Due: eslint --fix

Listing Screen (With data mockup) (#30)
  .prettierrc.js
  android/app/src/main/AndroidManifest.xml
  index.js
  package-lock.json
  package.json
  src/components/Badge/index.js
  src/components/Badge/styles.js
  src/components/JobCard/index.js
  src/components/JobCard/styles.js
  src/navigation/index.js
  src/navigation/search.stack.js
  src/screens/Listing/index.js
  src/screens/Listing/styles.js
  src/screens/Profile.js
  src/screens/Search.js
  src/screens/Search/index.js
  src/theme/colors.js
Due: eslint --fix, prettier --write

Agregando documentacion para iniciar a colaborar (#27)
  README.md
Due: prettier --write

#2 Calling Api Show Listing Jobs
  src/screens/Listing/index.js
  src/utils/api.js
Due: eslint --fix

message
  package.json
  src/screens/Listing/index.js
Due: eslint --fix, prettier --write
